<div class="d-flex h-100 align-items-center">
  <mo-wb-landing-editor-layer-toolbar-row_col
    [classInclude]="'mo-wb-w-192px'">
  </mo-wb-landing-editor-layer-toolbar-row_col>
  <!-- <mo-wb-components-dropdown
    [label]="''"
    [defaultTitle]="''"
    [tooltip]="''"
    [items]="dsTypes"
    [selectedId]="dsType"
    [key]="'id'"
    [keyName]="'name'"
    [classInclude]="'mo-wb-w-170px'"
    (onSelectedItem)="handleOnSelectDisplayType($event);">
  </mo-wb-components-dropdown>

  <div class="mo-wb-border-right-general h-100 mo-wb-mx-8px"></div>

  <mo-wb-components-button 
    [type]="'text-selected'"
    [label]="'Thêm mục'"
    [classInclude]="''"
    [classIconLeft]="''"
    (click)="handleOnClickDuplicateItem($event);">
  </mo-wb-components-button>

  <div class="mo-wb-border-right-general h-100 mo-wb-mx-8px"></div>

  <mo-wb-components-button 
    [type]="'icon'"
    [tooltipContent]="'Hiệu ứng động'"
    [classInclude]="'mo-wb-mr-4px mo-wb-button-icon-selected'"
    [classIconLeft]="'mo-icn-animation-icon'"
    (click)="handleOnAnimationButtonClick($event);">
  </mo-wb-components-button>

  <div class="mo-wb-border-right-general h-100 mo-wb-mx-8px"></div>

  <div #actionEl>
    <mo-wb-components-button
      [type]="'icon'"
      [tooltipContent]="'Thao tác khác'"
      [classInclude]="''"
      [classIconLeft]="'mo-icn-dots mo-wb-rotate-90deg'"
      (click)="handleOnMoreActionButtonClick($event, actionEl);">
    </mo-wb-components-button>
  </div> -->
  

</div>