<mo-wb-landing-editor-inspector-design-elements-background>
</mo-wb-landing-editor-inspector-design-elements-background>

<mo-wb-landing-editor-inspector-design-elements-border
  [isOpen]="false">
</mo-wb-landing-editor-inspector-design-elements-border>

<mo-wb-landing-editor-inspector-design-elements-border_radius
  [isOpen]="false">
</mo-wb-landing-editor-inspector-design-elements-border_radius>

<mo-wb-landing-editor-inspector-design-elements-shadow
  [isOpen]="false">
</mo-wb-landing-editor-inspector-design-elements-shadow>