<div>
  <mo-wb-landing-editor-inspector-design-comps-text
    *ngIf="moType === 'text'">
  </mo-wb-landing-editor-inspector-design-comps-text>

  <mo-wb-landing-editor-inspector-design-comps-form-input
    *ngIf="moType === 'field-input'"
  ></mo-wb-landing-editor-inspector-design-comps-form-input>

  <mo-wb-landing-editor-inspector-design-comps-form
    *ngIf="moType === 'form'">
  </mo-wb-landing-editor-inspector-design-comps-form>
  
  <mo-wb-landing-editor-inspector-design-comps-button
    *ngIf="moType === 'button'">
  </mo-wb-landing-editor-inspector-design-comps-button>

  <mo-wb-landing-editor-inspector-design-comps-repeater
    *ngIf="moType === 'repeater'">
  </mo-wb-landing-editor-inspector-design-comps-repeater>

  <mo-wb-landing-editor-inspector-design-comps-repeater_item
    *ngIf="moType === 'repeater-item'">
  </mo-wb-landing-editor-inspector-design-comps-repeater_item>

  <mo-wb-landing-editor-inspector-design-comps-gallery
    *ngIf="moType === 'gallery'">
  </mo-wb-landing-editor-inspector-design-comps-gallery>
  
  <mo-wb-landing-editor-inspector-design-comps-carousel
    *ngIf="moType === 'carousel'">
  </mo-wb-landing-editor-inspector-design-comps-carousel>

  <mo-wb-landing-editor-inspector-design-comps-tabs
    *ngIf="moType === 'tabs'">
  </mo-wb-landing-editor-inspector-design-comps-tabs>

  <mo-wb-landing-editor-inspector-design-comps-tabs-content
    *ngIf="moType === 'tab-content'">
  </mo-wb-landing-editor-inspector-design-comps-tabs-content>

  <mo-wb-landing-editor-inspector-design-comps-accordion
    *ngIf="moType === 'accordion'">
  </mo-wb-landing-editor-inspector-design-comps-accordion>

  <mo-wb-landing-editor-inspector-design-comps-accordion-content
    *ngIf="moType === 'accordion-content'">
  </mo-wb-landing-editor-inspector-design-comps-accordion-content>

  <mo-wb-landing-editor-inspector-design-comps-button
    *ngIf="moType === 'field-button'">
  </mo-wb-landing-editor-inspector-design-comps-button>

  <mo-wb-landing-editor-inspector-design-comps-section
    *ngIf="moType === 'section'">
  </mo-wb-landing-editor-inspector-design-comps-section>

  <mo-wb-landing-editor-inspector-design-comps-footer
    *ngIf="moType === 'footer'">
  </mo-wb-landing-editor-inspector-design-comps-footer>

  <mo-wb-landing-editor-inspector-design-comps-header
    *ngIf="moType === 'header'">
  </mo-wb-landing-editor-inspector-design-comps-header>

  <mo-wb-landing-editor-inspector-design-comps-container
    *ngIf="moType === 'container'">
  </mo-wb-landing-editor-inspector-design-comps-container>

  <mo-wb-landing-editor-inspector-design-comps-menu
    *ngIf="moType === 'menu'">
  </mo-wb-landing-editor-inspector-design-comps-menu>
  
</div>