<div class="position-fixed vw-100 vh-100 mo-wb-top-0 mo-wb-left-0 mo-wb-z-index-2500 mo-wb-bg-333333 mo-wb-opacity-3"></div>
<mo-wb-components-popup
  #popup
  [title]="'Chỉnh sửa TAB'"
  [height]="'130px'"
  [width]="500"
  [isShow]="true"
  [zIndex]="3500"
  (onOk)="handleSettingTabTitle($event);"
  (onClose)="handleOnClosePopup($event);">
  <div class="mo-wb-pl-20px mo-wb-pr-20px mo-wb-mt-10px">
    <mo-wb-components-input 
      [classInclude]="'mo-wb-mt-12px'"
      [isRequired]="true"
      [enable]="true"
      [title]="'ACCORDION TITLE'"
      [placeholder]="'Nhập accordion title'"
      [maxLength]="50"
      [value]="titleAcc"
      [actionKey]="'KEY-UP'"
      (onInputError)="onInputError($event)"
      (onValueChanged)="handleOnChangeTabTitle($event)">
    </mo-wb-components-input>
    <p class="mo-wb-font-head-4s mo-wb-mt-20px mo-wb-mb-10px">{{'Thiết lập hiển thị nội dung mặc định' | translate }}</p>
    <mo-wb-components-button-toggle_button
      [active]="onShow"
      (onChangeToggle)="handleOnChangeTabActive($event)">
    </mo-wb-components-button-toggle_button>
  </div>
</mo-wb-components-popup>