<mo-wb-landing-editor-inspector-layout-size>
</mo-wb-landing-editor-inspector-layout-size>

<mo-wb-landing-editor-inspector-layout-comps-repeater
  *ngIf="moType === 'repeater'">
</mo-wb-landing-editor-inspector-layout-comps-repeater>

<mo-wb-landing-editor-inspector-layout-comps-gallery
  *ngIf="moType === 'gallery'">
</mo-wb-landing-editor-inspector-layout-comps-gallery>

<mo-wb-landing-editor-inspector-layout-comps-carousel
  *ngIf="moType === 'carousel'">
</mo-wb-landing-editor-inspector-layout-comps-carousel>

<mo-wb-landing-editor-inspector-layout-comps-tabs
  *ngIf="moType === 'tabs'">
</mo-wb-landing-editor-inspector-layout-comps-tabs>

<mo-wb-landing-editor-inspector-layout-comps-accordion
  *ngIf="moType === 'accordion'">
</mo-wb-landing-editor-inspector-layout-comps-accordion>

<mo-wb-landing-editor-inspector-layout-layout>
</mo-wb-landing-editor-inspector-layout-layout>

<mo-wb-landing-editor-inspector-layout-position>
</mo-wb-landing-editor-inspector-layout-position>

<mo-wb-landing-editor-inspector-layout-adjust>

</mo-wb-landing-editor-inspector-layout-adjust>

<mo-wb-landing-editor-inspector-layout-anchor>

</mo-wb-landing-editor-inspector-layout-anchor>