<div class="d-flex h-100 align-items-center">
  <mo-wb-components-button 
    [type]="'text-selected'"
    [label]="'Thêm column'"
    [classInclude]="''"
    [classIconLeft]="''"
    (click)="handleOnClickDuplicateItem($event);">
  </mo-wb-components-button>
  <div class="mo-wb-border-right-general h-100 mo-wb-mx-8px"></div>
  <mo-wb-components-button 
    [type]="'text-selected'"
    [label]="'Thêm row'"
    [classInclude]="''"
    [classIconLeft]="''"
    (click)="handleOnClickAddRowTable($event);">
  </mo-wb-components-button>
</div>