.mo-wb-grid-line {
  position: fixed;
  z-index: 999;
}

.mo-wb-grid-line-ver {
  border-right: 1px dashed #999999;
}

.mo-wb-grid-line-none {
  border-color: transparent !important;
}

.mo-wb-grid-line-hor {
  border-top: 1px dashed #999999;
}