.mo-wb-tooltip-icon, .mo-wb-tooltip-image {
    cursor: default;
    // line-height: 18px;
}

.mo-wb-tooltip-icon-ai {
    cursor: pointer;
}

.mo-wb-tooltip-icon-ai-large {
    font-size: 20px;
}

.mo-wb-tooltip-pointer {
    cursor: pointer;
}