<div class="d-flex mo-wb-mt-4px">
  <div class="mo-wb-w-45px text-right mo-wb-mr-8px">
    <span class="{{classStyleTitle}}">{{title}}</span>
  </div>
  <div class="content-container mo-wb-mr-8px"
    #upload>
    <ng-container>
      <div class="">
        <span class="mo-wb-font-head-4 mo-wb-color-009cdb mo-wb-cursor-pointer">{{buttonTriggerClick}}</span>
      </div>
      <input #uploadFileInput
        id="upload-input"
        class="upload-input"
        style="display:none;"
        type="file"
        name="files[]"
        accept="{{ '.ttf,.otf,.woff' }}" />
    </ng-container>
  </div>
  <ng-container *ngIf="isFile">
    <div>
      <span class="mo-wb-font-head-4 mo-wb-color-999999">{{ fileName ? fileName : "" }}</span>
    </div>
    <div class="close-file-btn">
      <i class="mo-icn-close-popup"
        (click)="handleOnRemoveFileClick($event)"></i>
    </div>
  </ng-container>
</div>
