<mo-wb-components-section
  [title]="'Điều chỉnh'">

  <div class="d-flex align-items-center justify-content-between">
    <div class="mo-wb-font-head-4s">Độ mờ</div>
    <mo-wb-components-input-number
      [title]="''"
      [unit]="'%'"
      [classInclude]="'mo-wb-w-100px'">
    </mo-wb-components-input-number>
  </div>

  <div class="d-flex align-items-center justify-content-between mo-wb-mt-12px">
    <div class="mo-wb-font-head-4s">Xoay</div>
    <mo-wb-components-input-number
      [title]="''"
      [unit]="'o'"
      [classInclude]="'mo-wb-w-100px'">
    </mo-wb-components-input-number>
  </div>

</mo-wb-components-section>
