$colors: f1f0f0 1a1a1a b3b3b3 262626 e6e8ed 333333 29c7cc 263644 31343a ebf1fa 494d55 26282c f4f5f7 e6eef5 ebf0f5 999999 c1c1c1 6fd100 4cb7ff fbb107
  ff5454 ffffff fff3f3 a8aeb4 252933 303642 151921 929499 f2f2ef 8358cb 5db200 c9c9c9 f8fcff 8657ff 6f44e9 7b4eff edeff2
  4cb7ff f6f6f6 eaeaea f2f5f7 e03dae ed7e22 ed2290 666b79 19344a fb7c1a ededed 666666 f0f3f5 5dc7f2 eeeeee;
$colors-start-double-zero: baa4 9cdb b7ff 84ff;

.#{$prefixCss}bg-none {
  background: none !important;
}

@each $color in $colors {
  .#{$prefixCss}color-#{$color} {
    color: #{"##{$color} !important;"};

    &:before,
    &:after {
      color: #{"##{$color} !important;"};
    }
  }

  .#{$prefixCss}bg-#{$color} {
    background-color: #{"##{$color} !important;"};
  }

  .#{$prefixCss}hover-#{$color} {
    &:hover {
      color: #{"##{$color} !important;"};

      > div,
      > span,
      > i,
      > p {
        &:before,
        &:after {
          color: #{"##{$color} !important;"};
        }
      }

      &:before,
      &:after {
        color: #{"##{$color} !important;"};
      }
    }
  }

  .#{$prefixCss}bg-hover-#{$color} {
    &:hover {
      background-color: #{"##{$color} !important;"};

      &:before,
      &:after {
        background-color: #{"##{$color} !important;"};
      }
    }
  }
}

@each $color in $colors-start-double-zero {
  .#{$prefixCss}color-00#{$color} {
    color: #{"#00#{$color} !important;"};

    &:before,
    &:after {
      color: #{"#00#{$color} !important;"};
    }
  }

  .#{$prefixCss}bg-00#{$color} {
    background-color: #{"#00#{$color} !important;"};
  }

  .#{$prefixCss}border-00#{$color} {
    border: #{"1px solid #00#{$color} !important;"};
  }

  .#{$prefixCss}hover-00#{$color} {
    &:hover {
      color: #{"#00#{$color} !important;"};

      > div,
      > span,
      > i,
      > p {
        &:before,
        &:after {
          color: #{"#00#{$color} !important;"};
        }
      }

      &:before,
      &:after {
        color: #{"#00#{$color} !important;"};
      }
    }
  }

  .#{$prefixCss}bg-hover-00#{$color} {
    &:hover {
      background-color: #{"#00#{$color} !important;"};

      &:before,
      &:after {
        background-color: #{"#00#{$color} !important;"};
      }
    }
  }
}

/* background color */
.mo-wb-bg-color-blue {
  background-color: $blue !important;
}
.mo-wb-bg-color-blue1 {
  background-color: $blue1 !important;
}
.mo-wb-bg-color-blue2 {
  background-color: $blue2 !important;
}
.mo-wb-bg-color-blue3 {
  background-color: $blue3 !important;
}
.mo-wb-bg-color-blue4 {
  background-color: $blue4 !important;
}
.mo-wb-bg-color-dark {
  background-color: $dark !important;
}
.mo-wb-bg-color-dark {
  background-color: $dark !important;
}
.mo-wb-bg-color-gray {
  background-color: $gray !important;
}
.mo-wb-bg-color-gray1 {
  background-color: $gray1 !important;
}
.mo-wb-bg-color-white {
  background-color: #fff !important;
}
.mo-wb-bg-color-light {
  background-color: $light !important;
}

.mo-wb-bg-color-blue-1 {
  background-color: $blue-1 !important;
}

.mo-wb-bg-color-blue-3 {
  background-color: $blue-3 !important;
}
.mo-wb-bg-color-blue-5 {
  background-color: $blue-5 !important;
}
.mo-wb-bg-color-blue-7 {
  background-color: $blue-7 !important;
}

/* text color */
.mo-wb-text-color-blue {
  color: $blue !important;
  &>[class^="mo-icn"] {
    &:before {
      color: $blue !important;
    }
  }
  
}
.mo-wb-text-color-blue1 {
  color: $blue1 !important;
}
.mo-wb-text-color-blue2 {
  color: $blue2 !important;
}
.mo-wb-text-color-blue3 {
  color: $blue3 !important;
}

.mo-wb-text-color-blue4 {
  color: $blue4 !important;
}
.mo-wb-text-color {
  color: $text !important;
}
.mo-wb-text-color-2 {
  color: $text2 !important;
}
.mo-wb-text-color-gray {
  color: $gray !important;
}
.mo-wb-text-color-gray1 {
  color: $gray1 !important;
}
.mo-wb-text-color-white {
  color: #fff !important;
}
.mo-wb-text-color-light {
  color: $light !important;
}

/* color hover */
.mo-wb-text-color-blue-hover {
  &:hover {
    color: $blue !important;
  }
}
.mo-wb-text-color-blue1-hover:hover {
  &:hover {
    color: $blue1 !important;
  }
}
.mo-wb-text-color-blue2-hover:hover {
  &:hover {
    color: $blue2 !important;
  }
}
.mo-wb-text-color-blue3-hover:hover {
  &:hover {
    color: $blue3 !important;
  }
}

.mo-wb-text-color-blue4-hover:hover {
  &:hover {
    color: $blue4 !important;
  }
}

.mo-wb-bg-color-gray-hover:hover {
  &:hover {
    background-color: $gray !important;
  }
}

.mo-wb-bg-color-gray1-hover:hover {
  &:hover {
    background-color: $gray1 !important;
  }
}

.mo-wb-bg-color-blue-1-hover:hover {
  &:hover {
    background-color: $blue-1 !important;
  }
}

.mo-wb-bg-color-blue-3-hover:hover {
  &:hover {
    background-color: $blue-3 !important;
  }
}

// .mo-wb-bg-color-gray2-hover:hover {
//   &:hover {
//     background-color: $gray2 !important;
//   }
// }

// .mo-wb-text-color {
//   color: $text !important;
// }
// .mo-wb-text-color-2 {
//   color: $text2 !important;
// }
// .mo-wb-text-color-gray {
//   color: $gray !important;
// }
// .mo-wb-text-color-gray1 {
//   color: $gray1 !important;
// }
// .mo-wb-text-color-white {
//   color: #fff !important;
// }
// .mo-wb-text-color-light {
//   color: $light !important;
// }

/* border color */
.mo-wb-bd-color-blue {
  border-color: $blue !important;
}
.mo-wb-bd-color-blue1 {
  border-color: $blue1 !important;
}
.mo-wb-bd-color-blue2 {
  border-color: $blue2 !important;
}
.mo-wb-bd-color-blue3 {
  border-color: $blue3 !important;
}
.mo-wb-bd-color-blue4 {
  border-color: $blue4 !important;
}