$red: #ff5454;
$red1: #e64b4b;
$red2: #ff7575;
$blue: #009cdb;
$blue1: #0080b3;
$blue2: #00b7ff;
$blue3: #29C7CC;
$blue4: #4cb7ff;
$blue5: #6DE01B;

$blue-1: rgba(0,156,219,0.1);
$blue-3: rgba(0,156,219,0.3);
$blue-5: rgba(0,156,219,0.5);
$blue-7: rgba(0,156,219,0.7);

$dark: #252933;
$gray: #E6E8ED;
$gray1: #ebf0f5;
$light: #F4F5F7;
$text: #333333;
$text2: #999999;

$SFUIText-Semibold: SFUIText-Semibold, Arial, Helvetica, sans-serif;
$SFUIText-Regular: SFUIText-Regular, Arial, Helvetica, sans-serif;
$font-size: 12px;
