<div class="selector mydp" #selectorEl
  [ngStyle]="{'width': opts.selectorWidth, 'height' : opts.selectorHeight, 'bottom': getSelectorTopPosition()}"
  (keyup)="onCloseSelector($event)" tabindex="0">
  <table class="header">
    <tr>
      <td>
        <div class="mydp-month">
          <div class="mydp-next" (click)="onNextMonth()"
            [ngClass]="[nextMonthDisabled ? 'mo-wb-disable mo-wb-pointer-events-none' : '']">
            <span class="calendar-icon mo-icn-forward"></span>
          </div>
          {{visibleMonth.monthTxt}}
          <div class="mydp-prev" (click)="onPrevMonth()"
            [ngClass]="[prevMonthDisabled ? 'mo-wb-disable mo-wb-pointer-events-none' : '']">
            <span class="calendar-icon mo-icn-back-filter"></span>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <table class="caltable" *ngIf="!selectMonth&&!selectYear">
    <thead>
      <tr>
        <th class="weekdaytitle weekdaytitleweeknbr" *ngIf="opts.showWeekNumbers&&opts.firstDayOfWeek==='mo'">#</th>
        <th class="weekdaytitle" scope="col" *ngFor="let d of weekDays">{{d}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of dates">
        <td class="daycell daycellweeknbr" *ngIf="opts.showWeekNumbers&&opts.firstDayOfWeek==='mo'">{{w.weekNbr}}</td>
        <td class="daycell" *ngFor="let d of w.week"
          [ngClass]="{'currmonth':d.cmo===currMonthId&&!d.disabled, 'selectedday':selectedDate.day===d.dateObj.day && selectedDate.month===d.dateObj.month && selectedDate.year===d.dateObj.year && d.cmo===currMonthId, 'disabled': d.disabled, 'tablesingleday':(!opts.allowSelectionOnlyInCurrentMonth||d.cmo===currMonthId&&opts.allowSelectionOnlyInCurrentMonth)&&!d.disabled}"
          (click)="!d.disabled&&onCellClicked(d);$event.stopPropagation()" (keydown)="onCellKeyDown($event, d)"
          tabindex="0">
          <div *ngIf="d.markedDate.marked" class="markdate" [ngStyle]="{'background-color': d.markedDate.color}"></div>
          <div class="datevalue"
            [ngClass]="{'prevmonth':d.cmo===prevMonthId,'currmonth':d.cmo===currMonthId,'nextmonth':d.cmo===nextMonthId,'highlight':d.highlight}">
            <span
              [ngClass]="{'markcurrday':d.currDay&&opts.markCurrentDay, 'dimday': d.highlight && (d.cmo===prevMonthId || d.cmo===nextMonthId || d.disabled)}">{{d.dateObj.day}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="monthtable" *ngIf="selectMonth">
    <tbody>
      <tr *ngFor="let mr of months">
        <td class="monthcell tablesinglemonth" [ngClass]="{'selectedmonth': m.selected, 'disabled': m.disabled}"
          *ngFor="let m of mr" (click)="!m.disabled&&onMonthCellClicked(m);$event.stopPropagation()"
          (keydown)="onMonthCellKeyDown($event, m)" tabindex="0">
          <div class="monthvalue" [ngClass]="{'markcurrmonth':m.currMonth&&opts.markCurrentMonth}">{{m.name}}</div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="yeartable" *ngIf="selectYear">
    <tbody>
      <tr>
        <td colspan="5" class="yearchangebtncell" (click)="$event.stopPropagation()">
          <button type="button" class="yearchangebtn mydpicon icon-mydpup"
            (click)="onPrevYears($event, years[0][0].year)" [disabled]="prevYearsDisabled"
            [ngClass]="{'yearchangebtnenabled': !prevYearsDisabled, 'yearchangebtndisabled': prevYearsDisabled}"></button>
        </td>
      </tr>
      <tr *ngFor="let yr of years">
        <td class="yearcell tablesingleyear" [ngClass]="{'selectedyear': y.selected, 'disabled': y.disabled}"
          *ngFor="let y of yr" (click)="!y.disabled&&onYearCellClicked(y);$event.stopPropagation()"
          (keydown)="onYearCellKeyDown($event, y)" tabindex="0">
          <div class="yearvalue" [ngClass]="{'markcurryear':y.currYear&&opts.markCurrentYear}">{{y.year}}</div>
        </td>
      </tr>
      <tr>
        <td colspan="5" class="yearchangebtncell" (click)="$event.stopPropagation()">
          <button type="button" class="yearchangebtn mydpicon icon-mydpdown"
            (click)="onNextYears($event, years[0][0].year)" [disabled]="nextYearsDisabled"
            [ngClass]="{'yearchangebtnenabled': !nextYearsDisabled, 'yearchangebtndisabled': nextYearsDisabled}"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>