<div class="mo-wb-landing-editor-comp-popup-link-jump-top-bot">
  <div class="mo-wb-mb-20px mo-wb-font-head-4s">
    Liên kết truy cập tới đầu/cuối trang (bất kỳ trang nào họ đang truy cập).
  </div>

  <div class="d-flex">
    <div class="mo-btn-back mo-wb-border-radius-4px mo-wb-w-100px mo-wb-mr-10px mo-wb-px-20px mo-wb-py-10px text-center {{linkType === 'BACK_TO_TOP' ? 'mo-wb-border-009cdb' : 'mo-wb-border-general'}}"
    (click)="handlerButtonClick($event, 'BACK_TO_TOP')">
      <div class="mo-icn-popup_line_select_top mo-wb-font-size-50px"></div>
      <div class="mo-wb-border-top-general mo-wb-mt-15px mo-wb-mb-15px"></div>
      <div class="mo-wb-font-head-4">{{'Trên cùng' | translate}}</div>  
    </div>
    <div class="mo-btn-back mo-wb-border-radius-4px mo-wb-w-100px mo-wb-px-20px mo-wb-py-10px text-center {{linkType === 'BACK_TO_BOTTOM' ? 'mo-wb-border-009cdb' : 'mo-wb-border-general'}}"
    (click)="handlerButtonClick($event, 'BACK_TO_BOTTOM')">
      <div class="mo-icn-popup_line_select_bottom mo-wb-font-size-50px"></div>
      <div class="mo-wb-border-top-general mo-wb-mt-15px mo-wb-mb-15px"></div>
      <div class="mo-wb-font-head-4">{{'Dưới cùng' | translate}}</div>
    </div>
  </div>
</div>