.pad-top-left {
  top: 20px;
  left: 50%;
  transform: translate(-50px, 0);
}

.pad-top-right {
  top: 20px;
  right: 50%;
  transform: translate(50px, 0);
}


.pad-bottom-right {
  bottom: 20px;
  right: 50%;
  transform: translate(50px, 0);
}

.pad-bottom-left {
  bottom: 20px;
  left: 50%;
  transform: translate(-50px, 0);
}