@import "../../../styles/variables";

.mo-wb-button {
  display: flex;
  align-items: center;
  font-size: $font-size;
  line-height: 18px;
  text-align: center;
  color: white;
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;

  span {
    font-size: $font-size;
    font-family: $SFUIText-Semibold;
    line-height: 18px;
  }

  &>[class^="mo-icn"] {
    font-size: 10px;
    margin: 0;

    &:before {
      color: #fff;
    }
  }

  &:active,
  &:checked {
    border: 1px solid $blue1;
    background: $blue1;
    color: white;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.mo-wb-button-blue-solid {
    background: $blue;
    border: 1px solid $blue;

    &:hover {
      border: 1px solid $blue2;
      background: $blue2;
    }
  }

  &.mo-wb-button-blue-border {
    color: $blue;
    background: white;
    border: 1px solid $blue;

    &>[class^="mo-icn"] {
      font-size: 10px;
      margin: 0;

      &:before {
        color: $blue;
      }
    }

    &:hover {
      color: white;
      background: $blue;

      &>[class^="mo-icn"] {
        &:before {
          color: white;
        }
      }
    }
  }

  &.mo-wb-button-dark {
    background: white;
    border: 1px solid $gray;
    color: $text;

    &>[class^="mo-icn"] {
      font-size: 10px;
      margin: 0;

      &:before {
        color: $text;
      }
    }

    &:hover {
      background: $gray;
      border: 1px solid $gray;

      &>[class^="mo-icn"] {
        &:before {
          color: $text;
        }
      }
    }

    &:active,
    &:checked {
      border: 1px solid #cdcfd4;
      background: #cdcfd4;
    }
  }

  &.mo-wb-button-transparent {
    background: transparent;
    border: 1px solid #fff;

    &:hover {
      background: $blue;
      border: 1px solid $blue2;
    }
  }

  &.mo-wb-button-red {
    background: $red;
    border: 1px solid $red;

    &:hover {
      background: $red;
      border: 1px solid $red;
    }

    &:active,
    &:checked {
      border: 1px solid $red1;
      background: $red1;
    }
  }

  &.mo-wb-button-gray {
    color: $text;
    border: none;
    background-color: $gray;

    &>[class^="mo-icn"] {
      &:before {
        color: $text;
      }
    }

    &:hover {
      color: #fff;
      background-color: $blue;

      &>[class^="mo-icn"] {
        &:before {
          color: #fff;
        }
      }
    }
  }

  &.mo-wb-button-red-border {
    color: $red;
    background: white;
    border: 1px solid $red;

    &>[class^="mo-icn"] {
      font-size: 10px;
      margin: 0;

      &:before {
        color: $red;
      }
    }

    &:hover {
      color: white;
      background: $red;

      &>[class^="mo-icn"] {
        &:before {
          color: white;
        }
      }
    }
  }
}

.mo-wb-button-text {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  line-height: normal;
  padding: 0;
  cursor: pointer;

  span {
    font-size: $font-size;
    font-family: $SFUIText-Regular;
    line-height: 18px;
  }

  &>[class^="mo-icn"] {
    font-size: $font-size;

    &:before {
      color: #fff;
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    color: $blue3;
  }

  &.mo-wb-button-text-blue {
    color: $blue;

    &>[class^="mo-icn"] {
      &:before {
        color: $blue;
      }
    }

    &:hover {
      color: $blue4;

      &>[class^="mo-icn"] {
        &:before {
          color: $blue4;
        }
      }
    }
  }

  &.mo-wb-button-text-dark {
    color: $text;

    &>[class^="mo-icn"] {
      &:before {
        color: $text;
      }
    }

    &:hover {
      color: $blue3;

      &>[class^="mo-icn"] {
        &:before {
          color: $blue3;
        }
      }
    }
  }

  &.mo-wb-button-text-red {
    color: $red;

    &>[class^="mo-icn"] {
      &:before {
        color: $red;
      }
    }

    &:hover {
      color: $red2;

      &>[class^="mo-icn"] {
        &:before {
          color: $red2;
        }
      }
    }
  }
}

.mo-wb-button-icon {
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: $text;
  background-color: #fff;
  border: none;

  &>[class^="mo-icn"] {
    font-size: 16px;
    &:before {
      color: $text;
    }
  }

  &:hover {
    background-color: $gray;
  }

  &:active,
  &:checked {
    border: none;
    background: $gray1;
    color: $text;
  }
}

.mo-wb-button-selected {
  height: 30px;
  width: auto;
  padding-left: 7px;
  padding-right: 7px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: $text;
  background-color: #fff;
  border: none;

  &>[class^="mo-icn"] {
    font-size: 16px;
    &:before {
      color: $text;
    }
  }

  &:hover {
    background-color: $gray;
  }

  &:active,
  &:checked {
    border: none;
    background: $gray1;
    color: $text;
  }
}

.mo-wb-button-icon-selected {
  background-color: $blue-1;
  color: $blue;
  &>[class^="mo-icn"] {
    &:before {
      color: $blue;
    }
  }

  &:hover {
    background-color: $blue-3;
  }

  &:active,
  &:checked {
    border: none;
    background: $blue-5;
    color: $text;
  }
}

.mo-wb-button-icon-only {
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: $text;
  background-color: #fff;
  border: none;

  &>[class^="mo-icn"] {
    font-size: 16px;
    &:before {
      color: $text;
    }
  }

  &:hover {
    background-color: #fff;
    &>[class^="mo-icn"] {
      &:before {
        color: $blue3;
      }
    }
  }

  &:active,
  &:checked {
    border: none;
    background: #fff;
    color: $text;
  }
}