<div class="d-flex mo-wb-h-50px align-items-center justify-content-center mo-wb-border-bottom-general">
	<mo-wb-components-button 
		[type]="'icon-only'"
		[classInclude]="'mo-wb-ml-4px mo-wb-mr-4px'"
		[classIconLeft]="'mo-icn-align-start mo-wb-font-size-20px'">
	</mo-wb-components-button>

	<mo-wb-components-button 
		[type]="'icon-only'"
		[classInclude]="'mo-wb-ml-4px mo-wb-mr-4px'"
		[classIconLeft]="'mo-icn-align-middle mo-wb-font-size-20px'">
	</mo-wb-components-button>

	<mo-wb-components-button 
		[type]="'icon-only'"
		[classInclude]="'mo-wb-ml-4px mo-wb-mr-4px'"
		[classIconLeft]="'mo-icn-align-end mo-wb-font-size-20px'">
	</mo-wb-components-button>

	<mo-wb-components-button 
		[type]="'icon-only'"
		[classInclude]="'mo-wb-ml-4px mo-wb-mr-4px'"
		[classIconLeft]="'mo-icn-align-top mo-wb-font-size-20px'">
	</mo-wb-components-button>

	<mo-wb-components-button 
		[type]="'icon-only'"
		[classInclude]="'mo-wb-ml-4px mo-wb-mr-4px'"
		[classIconLeft]="'mo-icn-align-center mo-wb-font-size-20px'">
	</mo-wb-components-button>

	<mo-wb-components-button 
		[type]="'icon-only'"
		[classInclude]="'mo-wb-ml-4px mo-wb-mr-4px'"
		[classIconLeft]="'mo-icn-align-bottom mo-wb-font-size-20px'">
	</mo-wb-components-button>

</div>