
  .mo-store-media-file-container {
    height: 100%;
    width: 100%;
    position: relative;

    .header-container {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 20px;
      padding-left: 20px;

      .header-top-container {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 12px;

        .input-search {
          width: 503px;
        }
      }
      .header-bottom-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .content-container {
      height: calc(100% - 92px);
      width: 100%;
      position: relative;
    }

    .file-list-container {
      height: 100%;
      width: 100%;
      padding-right: 0px;
      padding-left: 20px;
      overflow: auto;
    }

    .center-flex-container {
      display: flex;
      align-items: center;
    }


    .media-store-item-container {
      float: left;
    }

    .media-store-file-item {
      width: 128px;
      height: 175px;
      border: solid 2px #e6e8ed;
      border-radius: 6px;
      float: left;
      margin-right: 12px;
      margin-bottom: 24px;
      cursor: pointer;
      position: relative;

      .expired-icon-top {
        display: none;
      }

      .expired-icon {
        &::before {
          color: #fbb107;
        }

        position: absolute;
        bottom: 6px;
        right: 6px;
      }
  
      .detail-button {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -14px;
        margin-left: -48px;
      }
  
      .select-button {
        display: none;
      }
  
      .selected-checked {
        position: absolute;
        top: 14px;
        left: 14px;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: #009cdb;
        align-items: center;
        justify-content: center;
        display: none;
        i {
          font-size: 14px;
        }
        i::before {
          color: #fff;
        }
      }

      // .img-container {
      //   border-bottom: solid 2px #e6e8ed;
      // }
  
      .img-container {
        width: 100%;
        height: 128px;
        background-color: #f4f5f7;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;
        border-bottom: solid 2px #e6e8ed;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          object-fit: cover;
        }

        .file-img {
          width: 24px;
          height: 32px;
          margin-top: 48px;
        }

        .file-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -16px;
          margin-left: -12px;
          font-size: 32px;
        }
      }
      .info-container {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 12px;
        padding-right: 12px;
  
        .title {
          width: 104px;
          overflow: hidden;
          white-space: nowrap;
          display: block;
          text-overflow: ellipsis;
        }
      }
  
  
      .list-info {
        display: none;
      }
  
      .grid-info {
        display: block;
      }
  
      &:hover{
        border: solid 2px #009cdb;
        .detail-button {
          display: block;
        }

        .img-container {
          border-bottom-color: #009cdb;
        }
      }
  
    }
  
  
    .mo-media-store-item-selected {
      border: solid 2px #009cdb !important;
      // border-top-left-radius: 6px;
      // border-top-right-radius: 6px;
      .selected-checked {
        display: flex !important;
      }
      .img-container {
        border-bottom-color: #009cdb;
      }
    }

    .single-select {
      .selected-checked {
        border-radius: 10px;
      }
    }

    .over-size {
      opacity: 0.5 !important; 
      cursor: default;
      &:hover{
        border: solid 2px #e6e8ed;
        .detail-button {
          display: none;
        }

        .img-container {
          border-bottom-color: transparent;
        }
      }
    }
  
    .mo-media-store-item-list {
      width: calc(100% - 40px) !important;
      float: none;
      height: 104px !important;
      padding-top: 12px;
      padding-bottom: 12px;
      display: flex;
      padding-right: 20px;
      padding-left: 44px;
      margin-bottom: 12px;
      position: relative;    
      
      .expired-icon-top {
        &::before {
          color: #fbb107;
        }
        margin-left: 5px;
        display: block;
      }

      .expired-icon {
        display: none;
      }
  
      .img-container { 
        width: 80px;
        height: 80px;
        border-bottom: none !important;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        img {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        .file-img {
          width: 24px;
          height: 32px;
          margin-top: 22px;
        }
      }

      .file-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: -12px;
        font-size: 32px;
      }
  
      .info-container { 
        padding-top: 0px;
        padding-bottom: 0px;
        .title {
          max-width: 400px;
          width: auto;
        }
      }
  
      .selected-checked {
        display: none !important;
      }
  
      .select-button {
        display: block;
      }
      
  
      .list-info {
        display: block;
      }
  
      .grid-info {
        display: none;
      }
  
      .detail-button {
        top: 24px;
        left: auto;
        right: 12px;
      }
    }

    .none-item {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;

      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .icon {
        font-size: 64px;
        &::before {
          color:#c1c1c1;
        }
      }
    }

    .media-store-file-popup-container {
      position: absolute;
      border-radius: 6px;
      border: 1px solid rgba(51,51,52, 0.1);
      box-shadow: 0 2px 10px 1px #eaeaea;
      background-color: #fff;
      z-index: 20;
    }
    
    .media-store-file-popup-container::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      margin-left: 10px;
      top: 0px;
      left: 50%;
      box-sizing: border-box;
      border: 5px solid black;
      border-color: transparent transparent #fff #fff;
      transform-origin: 0 0;
      transform: rotate(135deg);
      box-shadow: -3px 3px 3px 0 rgba(224, 224, 224, 0.5);
    }

    .popup-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      z-index: 19;
    }
    .sort-popup-container {
      height: 345px;
      width: 209px;
      top: 88px;
      right: 112px;

      .sort-item {
        padding-top: 12px;
        padding-left: 12px;
        padding-bottom: 12px;
        padding-right: 12px;
        border-bottom: solid 1px rgba(51,51,52, 0.1);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon-selected {
          display: none;
        }

        &:hover {
          color: #009cdb;
          .icon-selected::before {
            color: #009cdb;
          }
        }
      }

      .none-border {
        border-bottom: none;
      }
      
      .selected {
        cursor: default;
        .icon-selected {
          display: block;
        }
      }
    }
    
  }

  .mo-store-media-file-cms-container {
    .header-container {
      padding-left: 12px;
      padding-right: 12px;

      .header-top-container {
        display: flex;
        justify-content: space-between !important;
        align-items: center !important;
      }
      border-bottom: 1px solid #e6e8ed;
    }

    .content-container {
      padding-top: 0px;
      .file-list-container {
        padding-left: 0px;
      }
    }

    .media-store-file-item {
      width: 100%;
      height: auto;
      margin: 0px;
    
      .img-container {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        //aspect-ratio: 1;
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        .file-img {
          width: 54px;
          height: 72px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -36px;
          margin-left: -27px
        }

        .file-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -36px;
          margin-left: -35px;
          font-size: 72px;
        }
      }
    }

    .media-store-item-container {
      width: 16.66%;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 12px;
      padding-right: 12px;
      float: left;
    }
    
  }

  .mo-media-store-cms-content-container {
    background-color: #f4f5f7;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;

    .file-list-container {
      border: solid 1px #e6e8ed;
      background-color: #fff;
      padding-left: 0px !important;
      height: calc(100% - 32px);
    }

    .file-list-header {
      display: flex;
      height: 34px;
      background-color: #e6e8ed;
      align-items: center;
    }

    .file-col-name {
      display: flex;
      align-items: center;
      width: 40%;
      padding-left: 12px;
      min-width: 400px;

      .title {
        max-width: 290px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .file-col-info {
      display: flex;
      align-items: center;
      width: 15%;
    }

    .mo-media-store-item-cms-list {
      display: flex;
      width: 100% !important;
      border: none;
      border-bottom: solid 1px #e6e8ed;
      border-radius: 0px;
      height: 52px;
      margin: 0px;
      min-width: 1000px;

      &:hover {
        border: none;
        border-bottom: solid 1px #e6e8ed;

        .img-container {
          border: solid 1px #e6e8ed !important;
        }
      }

      .img-container {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        border: solid 1px #e6e8ed;
        padding-bottom: 0px;

        img {
          border-radius: 4px;
        }

        .file-img {
          width: 15px;
          height: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -10px;
          margin-left: -8px
        }

        .file-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -10px;
          margin-left: -12px;
          font-size: 20px;
        }
      }

      .detail-button {
        background-color: #fff;
      }

      .select-button {
        display: block;
      }      
    }

    .mo-media-store-item-selected {
      border: none !important;
      border-bottom: solid 1px #e6e8ed !important;

      .selected-checked {
        display: none !important;
      }
    }

    .detail-button {
      display: none !important;
    }

    .expired-icon {
      display: none !important;
    }

    .expired-icon-top {
      display: block !important;
      &::before {
        color: #fbb107;
      }
      margin-left: 5px;
    }

    .media-store-item-container {
      padding-right: 0px;
      padding-left: 0px;
      padding-bottom: 0px;
      width: 100%;
    }

    .w-100 {
      width: 100% !important;
    }
  }

  @media only screen and (max-width: 1600px) {

    .mo-store-media-file-cms-container { 
      .media-store-item-container {
        width: 20%;
      }
    }
    .mo-media-store-cms-content-container { 
      .media-store-item-container {
        width: 100%;
      }
    }

    .mo-store-media-file-container {
      .input-search {
        width: 300px !important;
      }
    }
  }

  @media only screen and (max-width: 1200px) {

    .mo-store-media-file-cms-container { 
      .media-store-item-container {
        width: 25%;
      }
    }

    .mo-media-store-item-cms-list { 
      .mo-media-store-cms-content-container {
        width: 100%;
      }
    }

    .mo-store-media-file-container {
      .input-search {
        width: 200px !important;
      }
    }
  }

  @media only screen and (max-width: 900px) {

    .mo-store-media-file-cms-container { 
      .mo-media-store-cms-content-container {
        width: 33.33%;
      }
    }

    .mo-media-store-item-cms-list { 
      .mo-media-store-cms-content-container {
        width: 100%;
      }
    }

    .mo-store-media-file-container {
      .input-search {
        width: 100px !important;
      }
    }
  }

  